body {
  font-family: "Montserrat";
  text-align: center;
}

#aboutme {
  background-color: #eaf6f6;
}

.container-fluid {
  padding: 3% 15% 0 15%;
}

.top-container {
  margin-top: 5rem;
}

h1 {
  font-family: "Bad Script";
  font-size: 5rem;
  color: #2a7886;
}

.heading21 {
  margin: 1.5 0;
  font-size: 1.2rem;
  color: #414141;
}

.lab-img {
width: 65%;
}

.about-dex {
  font-size: 1rem;
}

/* education */

.education-h2 {
margin: 3rem 0 1.5rem 0;
}

.edu-row {
  padding: 2.5rem 0;
}

.book-img {
width: 25%;
}

.flask-img {
  width: 25%;
}


/* Experience */

.experience {
  background-color: #79bac1;
  padding: 5% auto 15% auto;
  color: #fff;
}

.h2-exp {
  font-weight: bold;
  padding-bottom: 3%;
  padding-top: 3%;
}

.carousel-item {
  padding-bottom: 5%;
padding-left: 25%;
padding-right: 25%;
}

/* Get in touch */

.contact-me {
  padding-top: 3%;
  padding-bottom: 3%;
}
.h2-touch {
  padding-bottom: 20px;
}

/* Footer */

.bottom-container {
  background-color: #2a7886;
  padding-top: 2%;
  padding-bottom: 1%;
  color: #fff;
}

.fab {
  color: #f1f9f9;
  padding-left: 5px;
  padding-right: 5px;
}

.p-damjanovic {
margin-top: 15px;
  font-size: 10px;
}
